/* Sticky footer */
html, body { height: 100%; }
.page-wrapper { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -120px; }
.push, .footer { height: 120px; }
@media (max-width: 767px) {
 .footer { margin-left: -20px; margin-right: -20px; padding-left: 20px; padding-right: 20px; }
}

/* Normal style */
.header { margin-bottom: 1em; }
.header .slogan {}
.footer { background-color: #f5f5f5; }
.footer .block { padding: 1em; vertical-align: top; }
.footer .license { text-align: right; }
