[% WRAPPER page
   root = ".."
   title = "Network booting tools"
   subtitle = "The programs that make network booting possible."
%]
  <div class="row-fluid">
   <div class="span6">
    <h2>Tools used in network booting</h2>
    <ul>
     <li><a href="http://ipxe.org">iPXE</a> - a scriptable network boot loader and firmware</li>
     <li><a href="http://www.syslinux.org/wiki/index.php/PXELINUX">PXELINUX</a> - a flexible network boot loader</li>
     <li><a href="http://ipxe.org/wimboot">wimboot</a> - boot Windows .wim files directly using iPXE</li>
     <li><a href="http://rom-o-matic.eu/">rom-o-matic.eu</a> - a simple web interface for building an iPXE binary (beta)</li>
     <li><a href="http://tftpd32.jounin.net/">Tftpd32</a> - a free DHCP and TFTP server for Windows</li>
     <li><a href="http://linux-iscsi.org/">LIO</a> - an open source iSCSI target for Linux</li>
     <li><a href="https://github.com/puppetlabs/Razor">Puppet Labs Razor</a> - a provisioning tool used to manage bare-metal deployments for Puppet (<a href="https://www.youtube.com/watch?v=cR1bOg0IU5U">Razor talk at PuppetConf 2012</a>)</li>
     <li><a href="http://www.microsoft.com/en-US/download/details.aspx?id=19867">Microsoft iSCSI Software Target</a> - a Windows Server 2008 component that provides iSCSI services to your network</li>
     <li><a href="http://www.microsoft.com/en-us/server-cloud/system-center/configuration-manager-2012.aspx">System Center Configuration Manager (SCCM)</a> - a Microsoft product used to deploy and manage large groups of Windows computers</li>
     <li><a href="https://theforeman.org/">Foreman</a> - a complete lifecycle management tool for physical and virtual servers</li>
    </ul>
   </div>
   <div class="span6">
   </div>
  </div>
[% END %]
