[% WRAPPER page
   root = ".."
   title = "Network booting use cases"
   subtitle = "What people want to achieve by setting up a network boot environment."
%]
  <div class="row-fluid">
   <div class="span6">
    <h2>Installing Windows from the network</h2>
     <ul>
      <li><a href="http://ipxe.org/howto/winpe">Using iPXE and wimboot to run Windows PE</a> (recommended)</li>
      <li><a href="http://ipxe.org/howto/sccm">Using iPXE and wimboot to run System Center Configuration Manager (SCCM)</a> (for large environments)</li>
      <li><a href="http://technet.microsoft.com/en-us/library/cc722358%28v=ws.10%29.aspx">Using Windows Deployment Services (WDS)</a> (official Microsoft method)</li>
      <li>
       <a href="http://www.bromosapien.net:8080/media/index.php/Linux_Windows_PXE_Installation">Using PXELinux</a>
       <ul>
        <li><a href="https://www.youtube.com/watch?v=MvqiCxmzHYU">YouTube screencast - Part 1</a></li>
        <li><a href="https://www.youtube.com/watch?v=eExcQv4ifJM">YouTube screencast - Part 2</a></li>
        <li><a href="https://www.youtube.com/watch?v=jrwObHsRyK4">YouTube screencast - Part 3</a></li>
       </ul>
      </li>
     </ul>
   </div>
   <div class="span6">
    <h2>Running SmartOS from the network</h2>
     <ul>
      <li><a href="http://wiki.smartos.org/display/DOC/PXE+Booting+SmartOS">Official SmartOS network booting documentation</a> (recommended)</li>
      <li><a href="http://nahamu.github.io/2011/08/17/smartos-pxe.html">Using PXELinux to netboot SmartOS</a></li>
      <li><a href="http://blog.smartcore.net.au/smartos-network-boot-with-pxe/">Using FreeBSD 9 and PXELinux to boot SmartOS</a></li>
      <li><a href="http://blogoless.blogspot.it/2013/03/ipxe-server-on-centos-to-serve-smartos.html">Using CentOS and iPXE to netboot SmartOS</a></li>
     </ul>
   </div>
  </div>
[% END %]
